<p id="notice"><%= notice %></p>

<p>

  <strong>Dish:</strong>

 <% @cart.line_items.each do |item| %>
 <li>
 <%= item.quantity %>
 <%= item.dish.name %>
 </li>
 <% end %>
 

 <% button_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure?'} %>

</p>
