
<div class="container">

<article>
 <div class="bootstrap-demo">

<% @restaurants.each do |restaurant| %>

<%= link_to restaurant.name, {:controller => "dishes", :action => "show", :restaurant => restaurant } %>
<br>

<% end %>
  <%= will_paginate @restaurants %> 
</article>

<footer>Copyright © W3Schools.com</footer>

</div>

   
      


